* {
  box-sizing: border-box;
}

html { 
  scroll-behavior: smooth; 
}
body {
  font-family: "Pretendard", "Noto Sans Kr";
  font-size: 10px;
  background: #fff;
  color:#333;
  height: 100vh;
}


section { scroll-margin-top: 50px; }
