.education {
    width: 50%;
    padding-top: 50px;
    margin: 0 auto;
}
.education_title {
    width: 40%;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
    margin: 0 auto;
}
.school {
    font-size: 1.2rem;

}
.univercity h4,
.developmentPropgram h4 {
    font-weight: normal;
}
.high_school p {
    font-size: 1rem;
}
.univercity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    border-bottom: 1px solid #ddd;
    flex-wrap: wrap;
}
.univercity p {
    font-size: 1rem;
}

.developmentPropgram {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    border-bottom: 1px solid #ddd;
    flex-wrap: wrap;
    line-height: 2;
    margin-bottom: 40px;
}
.developmentPropgram p {
    font-size: 1rem;
}
