.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: transparent;
  z-index: 9999;
  color:#f1f1f1;
  transition: background .3s;
}
.header.scroll {
  background: rgba(0,0,0,0.8);
  color:#f1f1f1;
  backdrop-filter: blur(6px);
  box-shadow: 0 2px 10px rgba(0,0,0,0.6);
}
.header_inner {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.name {
  font-size: 1.6em;
  transition: color .3s;
}
.gnb {
  display: flex;
  gap: 24px;
}

.gnb a {
  font-size: 1rem;
  color:#f1f1f1;
  transition: color .3s;
  font-weight: 500;
}

.name:hover {
  color:#111;
}
.gnb a:hover {
  color:#111;
}