.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: transparent;
  z-index: 9999;
  color:#fff;
}

.header_inner {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.name {
  font-size: 1.6em;
  transition: color .3s;
}
.gnb {
  display: flex;
  gap: 24px;
}

.gnb a {
  font-size: 1rem;
  color:#fff;
  transition: color .3s;
  font-weight: 500;
}

.name:hover {
  color:#111;
}
.gnb a:hover {
  color:#111;
}