.project {
    padding: 100px 0;
    width: 84%;
    margin: 0 auto;
}
.project_title {
    width: 20%;
    margin: 0 auto;
    font-size: 3rem;
    font-weight: 900;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.tab_menu {
    width: 30%;
    display: flex;
    justify-content: space-between;
    gap : 30px;
    margin: 0 auto;
}

.tab {
    width: 120px;
    height: 60px;
    padding: 0 20px;
    font-size: 1.1rem;
    background: none;
    border: 1px solid #878787;
    border-radius: 15px;
    cursor: pointer;
    transition: background .3s;
    text-align: center;
}

.tab.active {
    background: #333;
    color:#f1f1f1
}
.project_overview {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 50px;
}

.thumb {
    position: relative;
    overflow: hidden;
}
.thumb::after {
    content: "";
    position: absolute;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    transition: opacity .2s;
    inset: 0;
}
.card img {
    display: block;
    width: 500px;
    height: 300px;
}
.thumb:hover::after,
.thumb:hover .view_btn{
   opacity: 1;
}

.view_btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;       
  opacity: 0;
  transition: opacity .2s;
  cursor: pointer;
  background: none;
  padding: 15px 20px;
  color:#fff;
  border: 1px solid #fff;
  border-radius: 10px;
  font-size: 1rem;
}

.project_name {
    font-size: 1.6rem;
    padding: 10px 0 20px;
}
.p_skill {
    display: flex;
    gap: 10px;
}
.project_skill {
  font-size: 0.8rem;
  padding: 4px 8px;
  background: #f0f0f0;
  border-radius: 9999px;
}
