.skill_section {
  padding-top: 50px;
  background: #f9c51d;
}

.main_skill {
  font-size: 2.4rem;
  color:#787878;
  font-weight: 400;
}

.skill,
.tools {
  padding-top: 30px;
  padding-left: 20px;
  font-size: 2.4em;
  color: #787878;
}

.skill ul,
.tools ul {
  list-style: square;
}

.skill_title {
  font-weight: 400;
  color: #787878;
  margin-bottom: 10px;
}

.skill li,
.tools li {
  color: #a2a2a8;
  padding: 5px 0;
  font-size: 1.2rem;
}
