@charset "utf-8";
@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+KR:wght@100..900&display=swap');

/* typo */
body {
  font-family: "Lato", sans-serif;
}

.ls10 {
  letter-spacing: 10px;
}

p,
footer {
  font-family: Arial, Helvetica, sans-serif;
}

#sec1 {
  height: 100vh;
  background: url(./../images/10011.jpg) no-repeat 50% 50%/cover fixed;
}