@charset "UTF-8";


.sec {
  position: relative;
  /* padding: 80px; */
  height: 100vh;
}

:root {
  --333: #333;
  --main: #ffDB00;
}

::selection {
  color: var(--333);
  background: var(--main);
}

/* 
.inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} */