
.title_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list_title {
  border: none;
  padding-left: 60px;
  font-size: 26px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 20px;
}

.list_btn {
  padding-right: 60px;
}

.prev_btn,
.next_btn {
  width: 50px;
  height: 40px;
  font-size: 32px;
  background: transparent;
  color: #fff;
  margin: 0 5px;
  border: 1px solid #666;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}
.prev_btn:hover,
.next_btn:hover {
  background: #fff;
  color: #111;
}


.movie_list {
  display: flex;
  justify-content: space-between;
  width: 95%;
  padding-left: 60px;
  padding-bottom: 60px;
}
.ranking {
  display: flex;
  justify-content: space-between;
  width: 95%;
  padding-left: 60px;
  padding-bottom: 60px;
  gap: 10px;
}

.slide_btn {
  width: 30px;
  font-size: 1.6rem;
  color:#fff;
  text-align: center;
  background: transparent;
  border: 1px solid #666;
  border-radius: 5px;
  margin-left: 30px;
  transition: .2s;
  cursor: pointer;
}
.slide_btn:hover {
  background: #333;
}