@charset "UTF-8";

/* body */

body {
  font-family: "Segoe UI", sans-serif;
  background: #0b0f2e;
  color: #f5f5f5;
  text-align: center;
  margin: 0;
  padding: 20px 200px;
}

.game_tab {
  padding: 0 50px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flipmatch,
.tictactoe,
._2048 {
  width: 30%;
  margin: 30px auto 70px;
  padding: 20px;
  background: #3a427a;
  border-radius: 20px;
  transition: 0.3s ease;
  font-size: 1.2rem;
  cursor: pointer;
}

.flipmatch:hover,
.tictactoe:hover,
._2048:hover {
  background: #202761;
  transform: scale(1.1);
}
