@charset "utf-8";

body {
  font-family: "Segoe UI", sans-serif;
  background: #0b0f2e;
  color: #f5f5f5;
  text-align: center;
  font-size: 10px;
}
.prev_box{
  padding: 30px;
  text-align: left;
}
.prev {
  font-size: 1.4rem;
}
.game_title {
  font-size: 3rem;
  padding: 0 0 20px;
}
.current_user {
  padding-bottom: 30px;
  font-size: 1.5rem;
  font-weight: bold;
}
.game {
  display: flex;
}
.game_board {
  margin: 0 auto;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  color: #000;
  font-size: 3rem;
}
.cell.taken {
  pointer-events: none;
}
/* reset버튼 생성은 되는데 안보임 */
.reset {
  position: absolute;
  top: 400px;
  right:200px;
  width: 200px;
  height: 100px;
  font-size: 1.5rem;
  background:  #3a427a;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  transition: .3s ease;
  cursor: pointer;
}
.reset:hover {
  background: #6369a5;
  transform: scale(1.1);
}


@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  .game_board {
    width: 400px;
  }
  .cell {
    width: 100px;
    height: 100px;
  }

  .reset {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}