    /* 
    선택자 {속성 : 값;}
    태그 {속성 : 값;}
    /class{ 속성 : 값;}
    */
    
    /*p는 type선택자*/
    p {
        color:green;
    }

    /* .p는 class */
    .p{
        color:green;
    }

    .color_green{
        color : green
    }



    p {
        color : green
    }