@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color:#333;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    vertical-align: middle;
}
/* 가로배치 */
.wrap {
    display: flex;
}
/* 헤더 */

header {
    z-index: 1;
    position: relative;
    width: 200px;
    height: 800px;
}

.logo {
    height: 100px;
    line-height: 100px;
}

.gnb {
    margin-top: 100px;
}

.main::before {
    z-index: -1;
    content:"";
    position: absolute;
    background: rgba(0,0,0,0.7);
    top: 200px;
    left: 100%;
    width: 0;
    height: 200px;
    transition: .3s;
}
.main:hover::before {
    width: 1720px;
}


.main li{
    display: flex;
    position: relative;
}
.main>li>a {
    display: block;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: #8a8aec;
    color:white;
    transition: .3s;
    font-size: 18px;
}
.main>li>a:hover {
    background: #55558f;
    color: white;
}


.sub {
    position: absolute;
    top: 0;
    left: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: .3s;
    display: flex;
}

.sub a {
    display: block;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transition: .3s;
    color:white;
    font-size: 14px;
}
.sub a:hover {
    color:white;
    background: #c0c0fa;
}
.main:hover .sub {
    height: 200px;
    opacity: 1;
    visibility: visible;
}


/* 콘텐츠 */
.contents {
    width: 520px;
}

/* 탭 */
.tabs {
    position: relative;
    height: 500px;
    background: #ddd;
}
.tabs input {
    display: none;
}

.tabs label {
    display: inline-block;
    padding: 15px 10px;
    background: #c0c0fa;
    cursor: pointer;

}

.tabs li {
    margin: 10px 0;
}
.tabs a:hover {
    text-decoration: underline;
    color:brown;
}


.tabs .tab_contents {
    position: absolute;
    display: none;
}
.tabs input:checked+label {
    background: #55558f;
    color:#fff;
}
.tabs input:checked+label+.tab_contents {
    display: block;
}

.tabs input:checked+label+.tab2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.tabs input:checked+label+.tab2 a:hover+p{
    color:cornflowerblue;
}

.tabs input:checked+label+.tab2 {
    width: 520px;
    height: 200px;
}

.modal {
    z-index: 9999;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
}

.modal:target {
    display: block;
}
.modal_contents {
    position: relative;
    margin: 15% auto;
    width: 400px;
    height: 400px;
    padding: 20px;
    background: white;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 40px;
    height: 40px;
    background: #a0ffff;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}
.close:hover {
    background: #22ffff;
    color:#ff1e00;
}

.modal_contents h3 {
    margin-bottom: 20px;
}

/* 배너 */
.banner {
    height: 300px;
    background: #ccc;
}


/* 슬라이드 */
.slide {
    width: 1200px;
    height: 300px;
    overflow: hidden;
}

.slidelist {
    display: flex;
    width: 400%;
}
.inner {
    width: 25%;
}