@charset "utf-8";


html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.section {
    height: 100vh;
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.5s;
}

.section:nth-child(1) {
    background: #3498db;
}

.section:nth-child(2) {
    background: #e67e22;
}

.section:nth-child(3) {
    background: #2ecc71;
}

.footer {
    height: 300px;
}