@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&display=swap');

/* 전체 */
body,
h1,
h2,
ul,
p {
    margin: 0;
}

ul {
    /* 목록의 블릿기호 제거 */
    padding: 0;
    list-style: none;
}

body {
    background: #fff;
    color: #222328;
    /* a태그는 상속못받아서 따로 a에 지정해줘야함 */
    /* font-family: "Noto Sans KR", sans-serif;
    font-size:15px;
    font-weight: bold;
    font-style: italic;
    line-height: 1.5; */
    font: 15px/1.5 "Noto Sans KR", sans-serif;
}

a {
    color: #222328;
}

/* 블록레벨요소를 가로 가운데 맞춤하기 */
.wrap {
    width: 1200px;
    margin: 0 auto;
}

/* 헤더 */
.header {
    display: flex;
    height: 100px;
}

.logo {
    width: 200px;
    margin-top: 30px;
}

.gnb {
    width: 1000px;
    display: flex; /* justify-content 주려고 flex 줌 */
    justify-content: flex-end;
    padding-right: 32px;
}

.main {
    width: 400px;
    line-height: 100px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}





/* 슬라이드 */
.slide {
    height: 300px;
}





/* 콘텐츠 */
.contents {
    display: flex;
    height: 200px;
}

.notice {
    width: 400px;
    padding: 16px 0 0 16px;
    line-height: 1.8;
}

.notice h2 {
    margin-bottom: 8px;

}

.notice span {
    display: inline-block;
    width: 290px;
}

.banner {
    width: 400px;
}

.shortcut {
    width: 400px;
}






/* 푸터 */
.footer {
    display: flex;
    height: 100px;
    background: #505050;
    color: #7c7676;
}

.blogo {
    padding-top: 28px;
    width: 200px;
}

.copy {
    text-align: center;
    padding-top: 24px;
    width: 800px;
    font-size: 14px;
}

.sns {
    display: inline-block;
    width: 200px;
    /* 한줄일때만 라인하이트 */
    line-height: 100px;
    text-align: center;
    font-size: 24px;
}

.sns li {
    display: inline-block;
    margin-left: 8px;

}

/* a 태그 안에있는 글자는 a태그 안에적용해야함 */
.sns a {
    color: rgb(158, 158, 158);
}